.navbar {
    background: linear-gradient(to right, #8134af,#dd2a7b,#f58529);
}

.navbar .nav-link {
    color: white !important;
}

body{
    background-color: #0e1217;
}

.card{
    margin: 2rem 0.8rem;
}

.users-container{
    display: flex;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 16px;
}

.card {
    margin: 20px;
}

.error {
    color: red; 
    margin-top: 2rem; 
    font-size: 1.5em; 
}

.navbar ul{
    font-size: 1.5em; 
}

.nav-item{
    padding: 0;
    margin-left: 1.5rem;
}

.search-user-container{
    font-size: larger;
}

.search-user-container input{
    border-radius: 5px;
    border: none;
    padding: 0.7% 1.5%;
    margin-bottom: 1%;    
}

.btn-api{
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #8134af,#dd2a7b,#f58529);
    color: white;
    padding: 0.5% 1%;
}

.make-gray{
    color: gray;
}

.make-white{
    color: white;
}